@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Montserrat:wght@200&display=swap');
* {
    font-family: 'Gentium Book Plus', serif;
}


.carousel-inner img {
    margin: auto;
}

.card {
    margin: 0 auto;
    float: none;
    border: 1px solid black;
    margin-bottom: 35px;
    min-height: 300px;
}

#about-us {
    background-color:rgb(113, 228, 228)
}

